
*.ipch
*.db-shm
*.db-wal
*.opendb
.vs/KACE/v17/.suo
*.lock
*.vsidx
*.db
*.exe
*.recipe
*.iobj
*.ipdb
*.log
*.obj
*.pdb
*.tlog
*.txt
*.lib
*.7z
builds
.vs
x64/Release/KACE.exp
*.xml
*.sarif
*.lastcodeanalysissucceeded
*.idb
